footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.navbar-inverse {
    background: transparent;
}

ul.nav.navbar-nav li a {
    color: black;
}

ul.nav.navbar-nav li a:hover {
    color: black;
}

body, #ranktable thead {
    color: black;
}

#ranktable {
    color: black;
}

.nation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid
}

a:hover {
    text-decoration: none;
}

.student-avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}

.thumb {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.thumb:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(10);
}

.even.gold, .odd.gold {
    background-color: rgba(255, 215, 0, 0.7);
}

.even.silver, .odd.silver {
    background-color: rgba(192, 192, 192, 0.7);
}

.even.bronze, .odd.bronze {
    background-color: rgba(205, 127, 50, 0.7);
}

.even.lowest, .odd.lowest {
    background-color: pink;
}

.row-pink {
    background-color: plum;
    color: black;
}

.row-green {
    background-color: lightgreen;
    color: black;
}

.empty {
    background-color: pink;
    color: black;
}

td.highlight {
    background-color: lightgray !important;
}

.highlighted {
    background-color: rgba(255, 165, 0, 0.3);
    color: black;
}

table.dataTable tbody td {
    vertical-align: bottom;
}
