footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.navbar-inverse {
    background: transparent;
}

body {
    background: url(../img/background-overwatch-top.jpg) no-repeat center center fixed;
    background-size: cover;
    color: black;
}

body, #ranktable thead {
    color: white;
}

#ranktable {
    color: black;
}

.nation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid
}

a:hover {
    text-decoration: none;
}

.student-avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}

.thumb {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.thumb:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(10);
}

.even.gold, .odd.gold {
    background-color: gold;
}

.even.silver, .odd.silver {
    background-color: silver;
}

.even.bronze, .odd.bronze {
    background-color: #cd7f32;
}

.even.lowest, .odd.lowest {
    background-color: pink;
}

.row-pink {
    background-color: #DDA0DD;
    color: black;
}

.row-green {
    background-color: #90EE90;
    color: black;
}

.empty {
    background-color: white;
    color: black;
}

td.highlight {
    background-color: whitesmoke !important;
}

.highlighted {
    background-color: #F8DDAC;
    color: black;
}

table.dataTable tbody td {
    vertical-align: bottom;
}
